@import './variables.scss';
@import './normalize';
@import './fonts.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: white;
}
img{
  width: 40px;
  height: 40px;
}
button{
border: 2px solid #7b5cba;
width: 200px;
height: 60px;
border-radius: 10px;
color: white;
position: relative;
cursor: pointer;
}
.red{
  color: red;
}
.green{
  color: green;
  display: flex;
  justify-content: space-between;
}
.pink{
  color: #bd6ea9;
}
.display{
  display: none;
}
.unvisible{
display: none;
}
.visible{
  display: block;
  margin-right: 10px;
}
.loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}