/* = Colors
********************************* */
$c-black: #000;
$c-steel-gray: #222030;
$c-mirage: #161922;
$c-white: #fff;
$c-grey: #808080;
$c-alto: #d8d8d8;
$c-gallery: #eeeeee;
$c-red: #FF0000;
$c-green: #00FF00;
$c-yellow: #FFFF00;
$c-charm-opacity: rgba(219, 125, 149, 0.87);
$c-light-orchid-opacity: rgba(216, 138, 210, 0.87);
$c-orchid-opacity: rgba(207, 97, 198, 0.87);
$c-cerise-opacity: rgba(219, 59, 134, 0.87);

/* = fonts
********************************* */
$f-fontAmerican: 'American Typewriter';
$f-fontAvenir: 'Avenir Next';

/* = breaks
********************************* */
$break-xss-small: 375px;
$break-xs-small: 420px;
$break-xs: 480px;
$break-s-mobile: 700px;
$break-mobile: 800px;
$break-mid: 991px;
$break-laptop: 1100px;
$break-high: 1600px;

/* = minimum device sizes
********************************* */
$tablet-min: 768px;
$desktop-min: 1200px;

/* = grid
********************************* */
$wrapper: 1302px;
$wrapper-high: 1200px;
$wrapper-laptop: 990px;
$wrapper-mid: 800px;
$wrapper-mobile: 480px;
$columns: 12;
$padding: 15px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1199px;
$standard-hei: 100px;
$standard-size: 180px;

/* = paddings, margins
********************************* */
$space-xxx-small: 2px;
$space-xx-small: 5px;
$space-xs-small: 7px;
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-medium: 30px;
$space-large: 40px;
$space-x-large: 50px;
$space-xl-large: 80px;
$space-xxl-large: 100px;
$space-xsxl-large: 200px;
$space-xx-large: 215px;
$space-xxxl-large: 300px;
$space-xxxxl-large: 400px;
$space-super-large: 700px

/* = buttons
********************************* */

/* = list
********************************* */