@media only screen and (max-height: 960px) {
  .technologia,
  .kultura,
  .motoryzacja,
  .programowanie,
  .historia {
    &__button2 {
      top: 76%;
      min-height: 60px;
    }
  }
}
@media only screen and (max-height: 850px) {
  .technologia,
  .kultura,
  .motoryzacja,
  .programowanie,
  .historia {
    &__button3 {
      margin-top: 100px;
    }
  }
  .score__feature div {
    margin: 8px 0;
  }
}
@media only screen and (max-height: 700px) {
  .technologia,
  .kultura,
  .motoryzacja,
  .programowanie,
  .historia {
    &__button2 {
      margin-top: 70px;
    }
  }
}

@media only screen and (max-width: 542px) {
  .score__subheader {
    left: 0;
    width: 100%;
    min-width: unset;
    div:nth-child(1) {
      width: 40%;
      min-width: 130px;
    }
  }
  .score__feature{
  .technologia,
  .kultura,
  .motoryzacja,
  .programowanie,
  .historia {
    &__button {
      position: absolute;
      top: 475px;
      left: 10%;
      width: 185px;
    }
  }
}
  .score {
    &__categories {
      top: 26%;
      left: 70%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .technologia,
  .kultura,
  .motoryzacja,
  .programowanie,
  .historia {
    &__answers {
      width: 100%;
      flex-direction: column;
    }
    &__button2 {
      top: 79%;
      width: 80%;
      left: 10%;
    }
    &__button3 {
      top: 39%;
      width: 10%;
      left: 10%;
      height: 290px;
      margin-top: 100px;
    }
  }
  .normalquestion__feature div {
    margin: 7px 15px;
  }
  .normalquestion__dragndrop :nth-child(2) {
    width: 118%;
    div div {
      height: 60px;
    }
  }
}
@media only screen and (max-width: 320px) {
  .score__feature .technologia,
  .kultura,
  .motoryzacja,
  .programowanie,
  .historia {
    &__button {
      top: 418px;
      left: 6%;
    }
  }
  .score {
    &__tech,
    &__culture,
    &__moto,
    &__program,
    &__history {
      width: 80px;
      height: 80px;
      p {
        font-size: pxToRem(8);
      }
    }
  }
}
