.menu {
  background-image: url(../../../../assets/picture/quiz_tlo.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  color: white;
  font-family: "Do Hyeon", sans-serif;
  &__letter {
    font-size: pxToRem(60);
    padding: 20px 0 0 20px;
  }
  &__feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
  }
  &__header{
    margin: 15px;
  }
  &__header,
  &__header-relative {
    width: 54%;
    display: flex;
    justify-content: center;
    p:nth-child(1) {
      display: flex;
      justify-content: center;
      flex: 1;
      font-size: pxToRem(40);
    }
    p:not(:nth-child(1)){
      cursor: pointer;
    }
  }
  &__header img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__header-relative{
    position: relative;
    left: 5px;
  }
  &__arrow{
    position: relative;
    left: -5px;
  }
  &__subheader {
    margin: 15px;
    background: rgb(95, 43, 133);
    background: radial-gradient(
      circle,
      rgba(95, 43, 133, 1) 0%,
      rgba(45, 24, 67, 1) 100%
    );
    width: 38%;
    height: 45px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    p:nth-child(2){
    border: 2px solid white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 170px;
    }
  }
  &__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p {
      margin: 5px;
      font-size: pxToRem(12);
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  &__tech-bg,
  &__culture-bg,
  &__moto-bg,
  &__program-bg,
  &__history-bg {
    mix-blend-mode: screen;
    border: 2px solid #7b5cba;
    border-radius: 5px;
    width: 125px;
    height: 125px;
    background-color: rgb(95, 43, 133);
    background-color: linear-gradient(
      225deg,
      rgba(95, 43, 133, 1) 0%,
      rgba(45, 24, 67, 1) 100%
    );
    cursor: pointer;
    div {
      width: 80%;
      height: 79%;
      margin: auto;
      border-bottom: 2px solid #bd6ea9;
      display: flex;
      align-items: center;
    }
    img {
      margin: 15px 0;
    }
    p {
      padding-left: 7px;
    }
  }

  &__tech,
  &__culture,
  &__moto,
  &__program,
  &__history{
    margin: 15px 10px;
  background: #000;
  background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    display: flex;
    width: 125px;
    height: 125px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: .5s all;
    &:hover {
      background-position: 100% 100%;
      
    }
  }
}

.technologia,
.kultura,
.motoryzacja,
.programowanie,
.historia{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  color: white;
  font-family: "Do Hyeon", sans-serif;
  &__color{
    transition: background-color 0.7s;
  }
  &__letter {
    font-size: pxToRem(60);
    padding-left: 10px;
  }
  &__feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    div {
      margin: 20px 0;
    }
  }
  &__header-relative {
      width: 54%;
      display: flex;
      justify-content: center;
        font-size: pxToRem(40);
      p:nth-child(1) {
        display: flex;
        justify-content: center;
        flex: 1;
      }
      p:not(:nth-child(1)){
        cursor: pointer;
      }
      a img{
        width: 20px;
        height: 20px;
      }
    }
    &__header-relative{
      position: relative;
      left: 5px;
      a p {
        font-size: pxToRem(20);
      }
    }
    &__arrow{
      position: relative;
      left: -5px;
    }
    &__subheader {
      width: 38%;
      min-width: 288px;
      height: 45px;
      padding: 15px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      p:nth-child(2){
      border: 2px solid white;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 12%;
      }
    }
    &__categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      div {
        margin: 10px 10px;
      }
      p {
        margin: 5px;
        font-size: pxToRem(12);
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
    &__tech-hidden,
&__culture-hidden,
&__moto-hidden,
&__program-hidden,
&__history-hidden {
  width: 125px;
  height: 125px;
  div {
    width: 80%;
    height: 79%;
    margin: auto;
    border-bottom: 2px solid #bd6ea9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    font-size: pxToRem(16);
  }
}
&__answers {
    width: 460px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
&__answers-button,
&__answer-button{
  transition: background-color 0.7s linear;
  width: 200px;
  height: 60px;
  padding-left: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
}